<%include ../partials/header %>
<%include ../partials/navbar%>
<div class="container" style="margin-top:80px">
    <div class="alert alert-danger">Aradığınız sayfaya ulaşılamadı.</div>
</div>
<%include ../partials/footer %>